*{
    padding: 0px;
    margin: 0px;
    /* font-family: poppins sans-serif; */

}
body{
  min-height: 200vh;
  background-image: 100%;
  
 
}

header{
    position: sticky;

    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 0px 3px 0px 2px ;
    z-index: 900;
        
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
            
}
header ul li{
    position: relative;
    list-style: none;
    
    
    
}
header ul li a{
position: relative;
margin: 0 15px;
text-decoration: none;
color:black;
letter-spacing: 2px;
font-weight: 500px;
transition: 0.6s;
font-family: bold ,8px,'Times New Roman', Times, serif;
}


.logo{
    width: 5px;
    padding: .00001em;
    margin: 0%;
    display: block;
    position: relative;
    transition: 0.6s;
}



.fab{
    font-size: 30px;
    align-items: center;
   
    float: right;
    padding-left: 10px; 
}
.login{
    width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-radius: 70px 0 70px 0;
    padding-top: 60px;
border-spacing: 100%;
border: 3px solid black;
background-color: antiquewhite;
margin-top: 30px;

}
#fb{
    color: royalblue;
}
#yt{
    color: red;
}
#in{
    color: maroon;
}
#gp{
    color: mintcream;
   
}

footer {
    font-family: 'Roboto';font-size: 20px;
}
.container{
    text-decoration: none;
}

.image-grid-cover {
    width: 100%;
    background-size: cover;
    min-height: 180px;
    position: relative;
    margin-bottom: 30px;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    border-radius: 4px;
}
.image-grid-clickbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0,0,0,.45);
}
.cover-wrapper {
    font-size: 18px;
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    z-index: 21;
    position:sticky;
    top: 80px;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
.carousel-items{
 height: 40%;
    min-height: 1500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.dis{
    padding-left: 50px;
    background-color:rgb(188, 233, 248);
    font-family: 5px bold black;
}